<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>312132253181-1b094n8s31d4g6s3dtlc9tahu0shf8gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312132253181-1b094n8s31d4g6s3dtlc9tahu0shf8gm</string>
	<key>API_KEY</key>
	<string>AIzaSyDVOwX5sERG41NUIEozhGQfUB-d8TlQWyc</string>
	<key>GCM_SENDER_ID</key>
	<string>312132253181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pallav.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>gym-workout-80fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-workout-80fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312132253181:ios:8c824d17214ed101</string>
	<key>DATABASE_URL</key>
	<string>https://gym-workout-80fa0.firebaseio.com</string>
</dict>
</plist>